<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Properties -->
    <xacro:include filename="common_properties.xacro" />
    
    <!-- Robot URDF -->
    <xacro:include filename="mobile_base.xacro" />

    <!-- ROS2 Control -->
    <xacro:include filename="ros2_control.xacro"/>

    <!-- Gazebo -->
    <xacro:include filename="gazebo_base.xacro"/>

</robot>